[project]
channels = ["pytorch", "nvidia", "conda-forge"]
name = "mujoco_playground"
platforms = ["linux-64"]

[system-requirements]
cuda = "12.1"

[activation.env]
CUDA_HOME = "$CONDA_PREFIX"
JAX_TRACEBACK_FILTERING = "off"
JAX_DEFAULT_MATMUL_PRECISION = "highest"
XLA_PYTHON_CLIENT_MEM_FRACTION = "0.3"

[dependencies]
python = ">=3.12,<3.13"
pip = "*"
setuptools = "*"
wheel = "*"
git = "*"

# CUDA
cuda-version = "12.1.*"
# cuda-toolkit = "==12.1.1"
pytorch-cuda = "==12.1"

[pypi-dependencies]
# torch = { index = "https://download.pytorch.org/whl/cu121" }
# torchvision = { index = "https://download.pytorch.org/whl/cu121" }
# torchaudio = { index = "https://download.pytorch.org/whl/cu121" }
jax = { extras = ["cuda12"] }
# playground = { path = ".", editable = true }
playground = "*"

[tasks]
test_torch = "python -c 'import torch; print(torch.cuda.is_available())'"
test_jax = "python -c 'import jax; print(jax.devices())'"
