[workspace]
channels = ["conda-forge"]
name = "mujoco_playground"
platforms = ["linux-64"]

[system-requirements]
cuda = "12"

[activation.env]
CUDA_HOME = "$CONDA_PREFIX"
JAX_TRACEBACK_FILTERING = "off"
JAX_DEFAULT_MATMUL_PRECISION = "highest"
XLA_PYTHON_CLIENT_MEM_FRACTION = "0.3"

# for headless rendering in docker
# DISPLAY = ":99"
MUJOCO_GL = "egl"

[dependencies]
python = ">=3.12,<3.13"
uv = "*"
pip = "*"
setuptools = "*"
wheel = "*"
git = "*"

# To use 50xx gpus, refer: https://github.com/kywch/puffer-pixi/blob/main/pixi_cu129.toml
cuda-version = "12.1.*"

# For jax/rsl-rl trainers
mediapy = "*"
wandb = "*"
tensorboard = "*"
onnxruntime = ">=1.22.0,<2"

[pypi-dependencies]
torch = { index = "https://download.pytorch.org/whl/cu121" }
torchvision = { index = "https://download.pytorch.org/whl/cu121" }
torchaudio = { index = "https://download.pytorch.org/whl/cu121" }
jax = { extras = ["cuda12"] }
rsl-rl-lib = "<3"

# To install mujoco playground, run:
# pixi run update_jax
# uv pip install -e .

# playground = { path = ".", editable = true }
# playground = "*"

[tasks]
test_torch = "python -c 'import torch; print(torch.cuda.is_available())'"
test_jax = "python -c 'import jax; print(jax.devices())'"
update_jax = "uv pip install -U 'jax[cuda12]'"
